<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
		<h1><%= @post.title %></h1>
		<hr>
	</header>

	<div id="content">
		<%= markdown @post.content %>
	</div>
	
	<hr>
	
	<% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to "Edit", edit_post_path(@post) %>
			<%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure ?"} %>		
		</div>
	<% end %>
		
	<div id="share_box">
		<p>Share <%= @post.title %> </p>
		<!-- facebook -->
		<a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
		<!-- twitter -->
		<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @aadeshere1 - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter"></i></a>

		<!-- google -->
		<a onclick="javascript:window.open('http://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus"></i></a>
	</div>

	<hr>

	<%= render 'disqus' %>
</div>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure ?"} %>