<!DOCTYPE html>
<html>
	<head>
	  <title>Blog</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body>
		<header id="main_navigation" class="clearfix">
			<%= link_to "Aadesh shrestha", root_path, class: "name"%>
			
			<nav>
				<%= link_to "Articles", posts_path %>
				<%= link_to "Projects", projects_path %>
				<a href="">Contact</a>
			</nav>
		</header>
		
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% else alert %>
			<p class="alert"><%= alert %></p>
		<% end %>

		<%= yield %>

		<footer id="main_footer">
			<p class="copyright">&copy; 2015 Aadesh Shrestha</p>
			<nav>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</nav>
		</footer>

	</body>
	
</html>
